.video-player{
    position:fixed;
    top: 0;
    left: 50;
    width: 50%;
    height: 50%;
    background:rgba(0,0, 0, 0.9);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-player video{
    width: 50%;
    max-width: 900px;
    height: auto;
    border: 3px solid #fff;
}
.video-player.hide {
   display: none;
}